

.modal-links {
    position: absolute; /* Position absolutely within .modal-content */
    bottom: 0; /* Align to the bottom of the .modal-content */
    width: 100%; /* Take full width of the parent container */
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Distributes children evenly */
    align-items: center; /* Centers children vertically */
    padding: 1.5em;
}