.atf-banner {
    display: flex;
    overflow-x: hidden;
    justify-content: left;
    align-items: center;
    padding-top: 4em;
    margin-right: 3em;
}

.image-container {
    flex: 0 1 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -500;
}

.frankie, .frankie-clicked {
    margin-top: 7em;
    max-width: 80%; /* Ensure scaling within the container */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.9;
    position: sticky;
}

.frankie-clicked {
    animation: bounce 15s infinite; /* Keep the bounce animation */
}

.text-container {
    flex: 0 0 50%;
    display: flex;
    margin-top: 7em;
    z-index: -500;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

h1 {
    line-height: 1.3em;
    font-size: 2.8em;
    padding-right: 4em;
    font-weight: 600;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
    .atf-banner {
        flex-direction: column;
        justify-content: center; /* Ensure alignment */
        align-items: center;
        padding: 2em 1em; /* Adjust padding for better fit */
    }

    .image-container, .text-container {
        flex: 0 1 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .frankie, .frankie-clicked {
        margin-top: 2em; /* Reduce top margin on mobile */
        max-width: 70%; /* Further reduce size for mobile */
        margin-bottom: -8em;
    }

    h1 {
        font-size: 2em; /* Adjust for smaller screens */
        padding-right: 0;
        margin-top: 1em;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translate(20px, -20px) scale(1);
    }
    10% {
        transform: translate(30px, 10px) scale(1.2);
    }
    20% {
        transform: translate(40px, 20px) scale(1.25);
    }
    30% {
        transform: translate(-20px, 40px) scale(1.2);
    }
    40% {
        transform: translate(0px, -20px) scale(1);
    }
    50% {
        transform: translate(-30px, -10px) scale(0.9);
    }
    60% {
        transform: translate(-40px, 20px) scale(0.95);
    }
    70% {
        transform: translate(20px, -10px) scale(0.98);
    }
    80% {
        transform: translate(10px, 30px) scale(1);
    }
    90% {
        transform: translate(-30px, -20px) scale(1.2);
    }
}
