.atf-banner {
    display: flex;
    overflow-x: hidden;
    justify-content: left;
    align-items: center; 
    padding-top: 4em;
}

.image-container {
    flex: 0 1 100%; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -500;
}

.frankie {
    margin-top: 7em;
    max-width: 70%; /* To ensure it scales within the container */
    height: auto; /* To maintain aspect ratio */
    opacity: 0.9;
    // z-index: 1;
   position: sticky; 
    // animation: bounce 15s infinite;
}

.frankie-clicked {
    margin-top: 7em;
    max-width: 70%; /* To ensure it scales within the container */
    height: auto; /* To maintain aspect ratio */
    opacity: 0.9;
    // z-index: 1;
   position: sticky; 
    animation: bounce 15s infinite;
}

.text-container {
    flex: 0 0 50%; /* Flex-grow, flex-shrink, flex-basis */
    display: flex;
    margin-top: 7em;
    z-index: -500;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

h1 {
    /* Remove absolute positioning to keep within the container */
    font-weight: bold;
    line-height: 1.5em;
    font-size: 2.5em;
    // padding-right: 3em; 
}

@media (max-width: 768px) {
    .atf-banner {
        flex-direction: column;
        // padding: 2em;
    }

    .image-container, .text-container {
        flex: 0 1 100%;
    }

    h1 {
        font-size: 2.5em; 
    }
    // .frankie {
    //     animation: none; 
    //     // max-width: 50%;
    // }
}

@keyframes bounce {
    0%, 100% {
        transform: translate(20px, -20px) scale(1);
    }
    10% {
        transform: translate(30px, 10px) scale(1.2);
    }
    20% {
        transform: translate(40px, 20px) scale(1.25);
    }
    30% {
        transform: translate(-20px, 40px) scale(1.2);
    }
    40% {
        transform: translate(0px, -20px) scale(1);
    }
    50% {
        transform: translate(-30px, -10px) scale(.9);
    }
    60% {
        transform: translate(-40px, 20px) scale(.95);
    }
    70% {
        transform: translate(20px, -10px) scale(.98);
    }
    80% {
        transform: translate(10px, 30px) scale(1);
    }
    90% {
        transform: translate(-30px, -20px) scale(1.2);
    }
}


