.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 1.5em;
  z-index: 1;
  background-color: rgb(242, 218, 218);
  overflow: -moz-hidden-unscrollable;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: stretch;
  position: fixed;
  padding: 4em;
  transition: top 0.3s;
  top: 0;
  left: 0; /* Add this line */
  right: 0; /* Add this line */
  width: 100%;
  transition: top 0.5s ease-in-out;
}

.nav-bar.hidden {
  top: -100%; 
}

@media (max-width: 500px) {
  .nav-bar .nav-btn {
    display: none;
  }
}

.jv-logo {
  width: 10em;
  align-self: flex-start;
}

.nav-btn {
  font-weight: 950;
  font-size: x-large;
  padding: 1.5em;
  text-decoration: none;
  color: black;
  align-self: center;
}

@media (max-width: 500px) {
  .nav-btn {
    display: none;
  }
}
