
.projects {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: flex-start; 
  // text-align: center; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  margin: auto;
  height: auto;
  margin-right: 7em;
}

.container-item {
  border: 1px solid #ccc;
  width: calc((100% / 3) - 6em); /* Adjust for 3 items per row, accounting for gap */
  box-sizing: border-box;
  margin-bottom: 1em;
  overflow: hidden;
  display: flex;
  padding: .5em;
  flex-direction: column;
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
}

.project-links {
  display: flex;
  justify-content: center; /* Ensure links are centered */
  width: 100%; /* Take full width to center content */
  margin-top: 0.5em;
}

a {
  color: #333;
  text-decoration: none;
  font-size: smaller;
  margin: 0 10px; /* Give some space around each link */
}

.video-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  padding-top: 56.25%;
  margin: auto; 
  overflow: hidden;
  position: relative; /* Keep this to position the img and iframe absolutely */
}

.video-container img, .video-container iframe {
  position: absolute; /* Position absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.video-container:hover img {
  opacity: 0;
}

.video-container:hover iframe {
  opacity: 1;
}

h2 {
  text-align: center; 
  width: 100%; 
  margin-right: 4em;
}

h3 {
  font-size: larger;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: -.5em;
  text-decoration: underline;
  letter-spacing: .2em;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  
}